#header{
	height: 100px;
	width: 100%;
	background: green;
	float: left;
}
.lateral-izq{
	height: 400px;
	width: 20%;
	background: red;
	float: left;
}
.lateral-der{
	height: 400px;
	width: 80%;
	background: yellow;
	float: left;
}
#footer{
	height: 100px;
	width: 100%;
	background: blue;
	float: left;
}