.cuadrado{
    height:100px;
    width:100px;
    display: inline-block;
}
.circulo{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: red;
}
#rojo{
	background: #ff0000;
}
#azul {
    background-color:#0000FF;
}
#amarillo {
    background-color:#E2BE22;
}
#verde {
    background-color:#008800;
}
.yapa{
    position: fixed;
}
body{
    height: 2000px;
}